<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Audrey Novak - {{title}}</title>
    <link rel="stylesheet" href="{{assets}}/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{assets}}/stylesheet/main.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="banner">
    <div class="user-presentation">
        <h1>Audrey NOVAK</h1>
        <h3>Ingénieur études & développement</h3>
        <h4><em>Spécialité développement front-end</em></h4>
    </div>
    <div class="social-networks">
        <a href="mailto:novak.audrey@gmail.com">
            <div class="small-circle">
                <i class="fa fa-envelope-o"></i>
            </div>
        </a>

        <a href="https://twitter.com/udr3y" target="_blank">
            <div class="small-circle">
                <i class="fa fa-twitter fa-lg"></i>
            </div>
        </a>
        <a href="https://github.com/audreyn" target="_blank">
            <div class="small-circle">
                <i class="fa fa-github-alt fa-lg"></i>
            </div>
        </a>
        <a href="https://github.com/audreyn/audreyn.github.io/raw/master/assets/NOVAK%20Audrey.pdf">
            <div class="small-circle">
                <i class="fa fa-print fa-lg"></i>
            </div>
        </a>
    </div>
</div>