body {
	background-color: #f0e6e4;
	font-family: 'Source Sans Pro', sans-serif;
} 
h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h3, h4 {
    margin-top: 0;
    margin-bottom: 10px;
}
#banner {
	background-color: #877777;
	border-bottom: 5px solid #c0a9a9;
	border-top: 5px solid #c0a9a9;
	padding: 15px 0 15px 0;
}
.user-presentation {
	color: #f0e6e4;
    margin-left: 20px;
}

.user-presentation h1{
    color: #c0a9a9;
}
.bloc { 
  width:auto;
  border:1px solid #c0a9a9;
  display:inline-block;
  vertical-align:top;
  text-align:left;
}
.rightBloc {
	margin-left: 50%;
	padding-left: 20px;
	background-color: pink;
}
.small-circle { 
  width: 40px;
  height: 40px;
  background: #c0a9a9;
  font-size:20px;
  color:#f0e6e4;
  line-height:40px;
  text-align:center;
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
  border-radius: 20px;
}
.circle {
   width: 140px;
   height: 140px;
   background: blue; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}

.social-networks a {
    display: inline-block;
}

@media screen and (min-width: 951px) {
    h1 {
        margin-top: 0;
    }
    #banner {
        display: table;
        width: 100%;
    }

    .social-networks, .user-presentation {
        display: table-cell;
        vertical-align: middle;
    }

    .user-presentation {
        padding-left: 130px;
    }

    .social-networks {
        padding-top: 15px;
        text-align: right;
        padding-right: 130px;
    }

    .social-networks a:not(:last-of-type) {
        margin-right: 60px;
    }

}
@media screen and (min-width: 621px) and (max-width: 950px) {
    h1 {
        margin-top: 0;
    }
    #banner {
        display: table;
        width: 100%;
    }
    
    .social-networks, .user-presentation {
        display: table-cell;
        vertical-align: middle;
    }

    .user-presentation {
        padding-left: 30px;
    }

    .social-networks {
        padding-top: 15px;
        text-align: right;
        padding-right: 30px;
    }

    .social-networks a:not(:last-of-type) {
        margin-right: 35px;
    }
}

@media screen and (min-width: 320px) and (max-width: 620px) {
    .social-networks a:first-of-type {
        margin-left: 20px;
    }

    .social-networks a {
        margin-right: 30px;
        margin-top: 5px;
    }
}
@media screen and (max-width: 320px) {
    h1 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1em;
    }
    h3, h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    h3 {
        font-size: 0.8em;
    }

    h4 {
        font-size: 0.6em;
    }

    .social-networks a {
        margin-right: 15px;
        margin-top: 5px;
    }

    .social-networks a:first-of-type {
        margin-left: 15px;
    }

    .small-circle {
        width: 30px;
        height: 30px;
        font-size:13px;
        line-height:30px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
    }

}