{{>site-header}}
<div id="mainContent">
    {{>site-menu}}
    <div class="page-content">
        <h1>
            {{#isnt this.page.title "home" }}
                {{ this.page.title }}
            {{else}}
                Bienvenue
            {{/isnt}}
        </h1>

        {{#markdown}}
        {{> body}}
        {{/markdown}}
    </div>
</div>


{{>site-footer}}