{{>site-header}}
<div id="mainContent">
    <h2>{{ this.page.title }}</h2>
    {{#markdown}}
    {{> body}}
    {{/markdown}}
    <div id="menu">
        <div class="circle">
            Formation
        </div>
        <div class="circle">
            Emplois
        </div>
        <div class="circle">
            Projets personnels
        </div>
        <div class="circle">
            Compléments
        </div>
    </div>

    <div class="content">
        TEST
    </div>

</div>


{{>site-footer}}