{{>site-header}}
<div id="mainContent">
    {{>site-menu}}
    <div class="page-content">
        <h1>{{ this.page.title }}</h1>
        {{#markdown}}
        {{> body}}
        {{/markdown}}
    </div>
</div>


{{>site-footer}}