---
title: "Emplois"
posted: 2015-02-22
order: 2
menu: "true"
---
<div>
    <ul class="jobs">
        <li class="job">
            <span class="job-period">
                Avril 2011 à Aujourd’hui :
            </span>
            <strong>Ingénieur d’étude et développement</strong> chez IOCEAN, Montpellier.
            <ul>
                <li>
                    Développeuse <strong>front-end</strong> sur des projets d’intranet métiers, développés en <strong>AngularJS</strong>,
                    <strong>HTML5 et CSS3</strong> sites responsives, <strong>tests unitaires</strong>
                </li>
                <li>Utilisation quotidienne de <strong></strong>GIT, administratrice de Gitlab</li>
                <li>
                    Développeuse d’<strong>applications mobiles multiplateformes</strong> réalisées en <strong>Titanium</strong> (Ios, Android), bonnes
                    connaissances des guidelines des différents OS
                </li>
                <li>
                    Mise en place de site intranet en <strong>Liferay</strong>, développement de portlets, <strong>audits</strong> de sites réalisés en Liferay
                </li>
                <li>
                    Développeuse sur des projets en <strong>JSF</strong> (1 et 2)
                </li>
                <li>
                    Réflexion autour de l’<strong>architecture</strong> des projets
                </li>
                <li>
                    Participation à des avant-ventes et à différentes études liées aux <strong>besoins des clients</strong>
                </li>
                <li>
                    Application des méthodes <strong>AGILES (SCRUM)</strong>
                </li>
                <li>
                    Sensibilité à la <strong>qualité des projets</strong> : <strong>tests, scripts de livraison automatisée</strong>
                </li>
                <li>
                    <strong>Responsable fonctionnel</strong> sur de nombreux projets, capable de bien comprendre le <strong>besoin du client</strong>, et
                    de bien le retranscrire
                </li>
            </ul>
        </li>
        <li class="job">
            <span class="job-period">
                Eté 2010 :
            </span>
            Vacataire à l’Agence Régionale de Santé de Montpellier, <strong>responsable informatique du contrôle de
            l’eau des piscines</strong>. Création d'un module de génération de graphiques par rapport aux données.
        </li>
        <li class="job">
            <span class="job-period">
                2007 :
            </span>
            Confection d'un site internet pour le comité départemental d'aviron de l'Hérault et d’un autre pour le club
            d'aviron ACBT de Sète.
        </li>
    </ul>
</div>