---
title: "Compléments"
posted: 2014-01-28
menu: "true"
order: 4
---

<div>
    <ul class="more-info">
        <li>Membre actif d’une équipe de développement : la <a href="http://froggies.github.io/" target="_blank">Froggies Team</a>,
            avec laquelle nous participons à de nombreux concours de développement ou à des projets personnels.
        </li>
        <li>Active dans les groupes communautaires liés au monde de l’informatique : participation à de nombreux évènements : <strong>JUG</strong> de Montpellier,
            <strong>MonpellierJS</strong>, <strong>Meetup Titanium</strong>, présentation d’un projet personnel au <strong>Startup Week-End</strong> de Montpellier,
            <strong>Paris Web</strong>, <strong>Sud Web</strong>.
        </li>
        <li><strong>Anglais</strong> : bon niveau (voyages en immersion aux États-Unis) </li>
        <li>Aviron, vélo, natation, permis bateau</li>
        <li>Adepte du Do It Yourself, et particulièrement de la couture et du tricot   </li>
    </ul>
</div>