---
title: "ShowMyFaves"
longTitle: "Gestionnaire de favoris"
date: "2012"
menu: "false"
menuActive: "personnalsProject"
urlSite: "http://audrey.lydiman.net/ShowMyFaves/"
order: 14
tags:
- Python
categories:
- project
---

<article class="project-detail">
    <div class="project-detail-date">{{date}}</div>
    <hr />
    <div class="project-detail-content">
        <div class="project-detail-image">
            <img src="./assets/images/showMyFaves.png"/>
        </div>
        <div class="project-detail-text">
            <p>Création d’un gestionnaire de favoris en Python, dans le but de participer au concours UbuntuAppShowDown. </p>
            <p class="en-savoir-plus"><a href="{{urlSite}}" target="_blank">En savoir plus</a></p>
            <p class="other-projects"><a href=/personalsProjects.html">Autres projets</a></p>
        </div>

    </div>
    <ul class="tags">
        {{#page.tags}}
        <li class="tag">{{.}}</li>
        {{/page.tags}}
    </ul>
</article>
