---
title: "BlobRising"
longTitle: "Jeu en javascript"
date: "2012"
menu: "false"
menuActive: "personnalsProject"
urlSite: "http://js13kgames.com/games/blobrising/index.html"
order: 15
tags:
- Python
categories:
- project
---

<article class="project-detail">
    <div class="project-detail-date">{{date}}</div>
    <hr />
    <div class="project-detail-content">
        <div class="project-detail-image">
            <img src="./assets/images/blobRising.png"/>
        </div>
        <div class="project-detail-text">
            <p>Js13KGame, participation, au sein d’une équipe, à la création d’un jeu : BlobRising en Javascript ne devant pas excéder 13ko.</p>
            <p>Nous avons gagné la catégorie du plus grand nombre de like.    </p>
            <p class="en-savoir-plus"><a href="{{urlSite}}" target="_blank">En savoir plus</a></p>
            <p class="other-projects"><a href="personalsProjects.html">Autres projets</a></p>
        </div>

    </div>
    <ul class="tags">
        {{#page.tags}}
        <li class="tag">{{.}}</li>
        {{/page.tags}}
    </ul>
</article>
