---
title: "Formation"
posted: 2015-02-22
menu: "true"
order: 1
---

<div>
    <h2>Formation universitaire</h2>
    <ul class="studies">
        <li class="study">
            <span class="study-period">
                2011 :
            </span>
            Obtention du <strong>Master Informatique</strong>, parcours <strong>Génie Logiciel</strong>, Université des Sciences Montpellier II
        </li>
        <li class="study">
            <span class="study-period">
                2007 :
            </span>
            <strong>DEUG Sciences de la Mer et de l'Environnement</strong>, Université des Sciences Luminy, Marseille
        </li>
        <li class="study">
            <span class="study-period">
                2005 :
            </span>
            <strong>Baccalauréat Scientifique option Mathématiques</strong>, Lycée Jean Moulin, Pézenas(34)
        </li>
    </ul>
    <h2>Formation complémentaires suivies</h2>
    <ul class="trainings">
        <li class="study">
            <span class="study-period">
                2012 :
            </span>
            Formation <strong>HTML5, CSS3</strong> donnée par <strong>Alsacreation</strong>.
            <ul>
                <li>
                    Mettre quelques trucs du programme
                </li>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </li>
        <li class="study">
            <span class="study-period">
                Eté 2010 :
            </span>
            Vacataire à l’Agence Régionale de Santé de Montpellier, <strong>responsable informatique du contrôle de
            l’eau des piscines</strong>. Création d'un module de génération de graphiques par rapport aux données.
        </li>
        <li class="study">
            <span class="study-period">
                2007 :
            </span>
            Confection d'un site internet pour le comité départemental d'aviron de l'Hérault et d’un autre pour le club
            d'aviron ACBT de Sète.
        </li>
    </ul>
</div>