---
title: "Formation"
posted: 2015-02-22
menu: "true"
order: 1
---

<div>
    <h2>Formation universitaire</h2>
    <ul class="studies">
        <li class="study">
            <span class="study-period">
                2011 :
            </span>
            Obtention du <strong>Master Informatique</strong>, parcours <strong>Génie Logiciel</strong>, <em>Université des Sciences Montpellier II</em>
        </li>
        <li class="study">
            <span class="study-period">
                2007 :
            </span>
            <strong>DEUG Sciences de la Mer et de l'Environnement</strong>, <em>Université des Sciences Luminy, Marseille</em>
        </li>
        <li class="study">
            <span class="study-period">
                2005 :
            </span>
            <strong>Baccalauréat Scientifique option Mathématiques</strong>, <em>Lycée Jean Moulin, Pézenas(34)</em>
        </li>
    </ul>
    <h2>Formation complémentaires suivies</h2>
    <ul class="trainings">
        <li class="study">
            <span class="study-period">
                2014 :
            </span>
            Formation <strong>AngularJS</strong> donnée par Thierry Chatel
            <ul>
                <li>
                    Grandes lignes du framework, création de directives, services
                </li>
                <li>
                    Routage
                </li>
                <li>
                    Promises
                </li>
                <li>
                    Tests unitaires <strong>Jasmine</strong>
                </li>
                <li>
                    Tests end-to-end <strong>Protractor</strong>
                </li>
            </ul>
        </li>
        <li class="study">
            <span class="study-period">
                2012 :
            </span>
            Formation <strong>HTML5 / CSS3 responsive design & mobile</strong>, donnée par ALSACREATIONS
            <ul>
                <li>
                    Créer un site <strong>responsive</strong>
                </li>
                <li>
                    Adapter un site en format responsive
                </li>
                <li>
                    <strong>Performances</strong> des sites responsives et mobiles
                </li>
            </ul>
        </li>
        <li class="study">
            <span class="study-period">
                2011 :
            </span>
            Formation <strong>jQuery</strong> avancée donnée par ALSACREATIONS
            <ul>
                <li>Ajax, appels de webservices (json, xml), techniques de debuggage</li>
            </ul>
        </li>
        <li class="study">
            <span class="study-period">
                2007 :
            </span>
            Confection d'un site internet pour le comité départemental d'aviron de l'Hérault et d’un autre pour le club
            d'aviron ACBT de Sète.
        </li>
    </ul>
</div>