---
title: "PanicBacklog"
longTitle: "Jeu mettant en valeur les pratiques agiles"
date: "Novembre 2013 à Décembre 2013"
menu: "false"
menuActive: "personnalsProject"
urlSite: "http://froggies.github.io/game-off-2013/"
order: 17
tags:
- Jeu
- Javascript
- Bower
- Grunt
categories:
- project
---

<article class="project-detail">
    <div class="project-detail-date">{{date}}</div>
    <hr />
    <div class="project-detail-content">
        <div class="project-detail-image">
            <img src="{{assets}}/images/panicBacklog.png"/>
        </div>
        <div class="project-detail-text">
            <p> Participation au concours de Github. Participation au sein d’une équipe à la création d’un jeu : PanicBacklog, en Javascript mettant à l’honneur les pratiques AGILES. </p>
            <p>Participation à la réflexion et mise en place d’outils de développement : Grunt et Bower. </p>
            <p class="en-savoir-plus"><a href="{{urlSite}}" target="_blank"><i class="fa fa-external-link"></i> En savoir plus</a></p>
            <p class="other-projects"><a href="../personalProjects.html"><i class="fa fa-arrow-circle-o-left fa-lg"></i> Retourner aux projets personnels</a></p>
        </div>

    </div>
    <ul class="tags">
        {{#page.tags}}
        <li class="tag">{{.}}</li>
        {{/page.tags}}
    </ul>
</article>
