---
title: "Kyu"
longTitle: "Outil permettant de dessiner les dépendances d'un projet Javascript"
date: "2014 à aujourd'hui"
menu: "false"
menuActive: "personnalsProject"
urlSite: "http://kyu-project.co/"
order: 18
tags:
- AngularJs
- Architecture
- Qualité
- NodeJs
- MongoDb
categories:
- project
---

<article class="project-detail">
    <div class="project-detail-date">{{date}}</div>
    <hr />
    <div class="project-detail-content">
        <div class="project-detail-image">
            <img src="{{assets}}/images/kyu_screen_chart_dependencies_hd.png"/>
        </div>
        <div class="project-detail-text">
            <p>Participation au développement de <strong>Kyu</strong>, un outil permettant de dessiner sous forme de graphes les dépendances d’un projet Javascript,
            et plus particulièrement d’un projet AngularJs, cela permet d’augmenter la qualité d’un projet.</p>
            <p class="en-savoir-plus"><a href="{{urlSite}}" target="_blank"><i class="fa fa-external-link"></i> En savoir plus</a></p>
            <p class="other-projects"><a href="../personalProjects.html"><i class="fa fa-arrow-circle-o-left fa-lg"></i> Retourner aux projets personnels</a></p>
        </div>

    </div>
    <ul class="tags">
        {{#page.tags}}
        <li class="tag">{{.}}</li>
        {{/page.tags}}
    </ul>
</article>
